*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
.section{
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.full-height{
  min-height: 100vh;
}

.header {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 50px;
	}

.row {
  display: flex;
}

.col {
  flex: 50%;
}

.images img {
	width: auto!important;
}

#form label {
	font-size: 15px;
	font-weight: bold;
}

#form input[type=text] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#form input[type=submit] {
    height: 70px;
	width: 100%;
    //background-color: #3bc36c;
	//background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
	background: #3bc36c url("img/hand.png") no-repeat right 50px center;
	//padding-right: 25px;
	color: #fff;
	font-size: 25px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
	border-bottom: 5px solid #36aa60
}

.files {
	font-size: 12px;
	color: #808080;
	margin-top: 10px;
	text-align: center;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  height: 70px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 235px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  border-bottom: 3px solid #aa0000;
  border-right: 3px solid #aa0000;
}
.modal-btn:not(:checked) + label:hover{
  background-color: #aa0000;
  color: #fff
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #ff0000;
  color: #fff;
  //font-family: 'unicons';
  content: 'X'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #fff;
  color: #ff0000;
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 910px;
  height: 550px;
  margin: 0 auto;
  !margin-top: 20px;
  !margin-bottom: 20px;
  border-radius: 27px;
  overflow: hidden;
  padding: 50px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn:checked ~ .logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}

@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}
